.container {
    max-width: 1170px;
    padding: 0 20px;
    margin: 0 auto;
}

form {
    margin: 0 auto;
    display: block;
    background-color: aliceblue;
    margin-bottom: 50px;

}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 25px;
    display: block;
}

button {
    width: 100px;
    height: 60px;
    background-color: rgb(26, 122, 187);
    color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 8px 0 black;
    cursor: pointer;
}

select {
    display: block;
    margin-bottom: 25px;
}