/* text */
$primaryTextColor: #292828;
$secondaryTextColor: #757575;
$accentColor: #0ea155;
$lightTextColor: #ffffff;
$darkTextColor: #000000;
$transparentAccentColor: #0ea155c4;
$transparentTextColor: #757575a9;

/* background */
$primaryBackgroundColor: #ffffff;
$secondaryBackgroundColor: #2f303a;
$secondaryBackgroundColorTransparent: #2f303acc;
$complementaryBackgroundColor: #f5f4fa;

/* icons */
$iconsColor: #afb1b8;
$iconsDarkColor: rgba(255, 255, 255, 0.1);

/* border */
$headerBorder: #ececec;
$inputBorder: #eeeeee;

/* box shadow */
$box-shadow-button: 0px 4px 4px rgba(0, 0, 0, 0.15);
$box-shadow-active: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$box-shadow-card: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$box-shadow-card-hover: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

/* others */
$gap: 60px;
$buttonHover: #0ea155c4;
